* {
    scrollbar-width:auto; /* 设置滚动条宽度为细 */
    scrollbar-color: rgb(137, 194, 250) #d8e7ed; /* 设置滚动条颜色 */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #d8e7ed;
}
.header{
    background-size: cover;
    text-align: center;
    display: grid;
    place-items: center;
    
}
.header img{
        width:1000px;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
}
.nav {
    background-color: #69cff7;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 68px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    width: 1000px;
    margin-bottom: 20px;
    background-color: #b7eaff;
}
.section {
    width: 816px;
    display: flex;
    margin: 40px;
    margin-left: 20px;
    padding: 15px;
    background-color: rgb(140, 212, 250);
    border-radius: 5px;
    box-shadow: 0 0px 15px rgb(252, 252, 252);
}
.section img {
    max-width: 50%;
    height: auto;
    margin-right: 15px; /* 图片与文本间距 */
}
.section div {
    flex: 1;
}
.section h2 {
    margin-top: 0;
}
footer {
    background-color: #8fd3ee;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 1000px;
    border-radius: 15px;
}
/* 文化部分特殊样式 */
.culture-section {
    flex-direction: row-reverse; /* 文化部分图片在右 */
}
.culture-section img {
    margin-right: 0; /* 移除图片右边距 */
    margin-left: 15px; /* 图片与文本间距 */
}
img{
    width: 400px;
    height: 300px;
}
.wo{
    margin-right: 20px;
}
p{
    text-indent: 2em;
    margin-top: 20px;
    font-family: '楷体';
    font-size: 20px;
}
h1{
    margin-top: -330px;
    font-size: 90px;
    font-family: '华文新魏';
    color: #fff;
}
button{
    background-color: rgb(46, 116, 208);
    border-radius: 15px;
    width: 120px;
    height: 36px;
    border: inherit;
    margin-top: 20px;
}
.vd{
    justify-content: center;
    display: flex;
    text-align: center;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
}
video{
    display: block;
   width:100%;
   height: 100%;
}
.tt{
 width: 290px;
 height: 50px;
 line-height: 50px;
 background-color: #8fd3ee;
 color: #fff;
 font-size: 18px;
 margin-bottom: 15px;
 margin-top: 20px;
 border-radius: 20px;
 text-align: center;
}
.oo{
float: none; 
position: absolute;
top: 0; 
left: 0; 
margin: 10px;
}
a{
font-size: 2em;
text-decoration: none;
}
.dd{
    font-size: 16px;
    color: black;
}
span{
    width: 1000px;
    height: auto;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 10px;
}


.kp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #b7eaff;
    overflow: hidden;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.container .card{
    position: absolute;
    width: 240px;
    height: 360px;
    background-color: blue;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    font-size: 8em;
    font-weight: 700;
    border: 5px solid rgb(254, 252, 252,1);
    transform-origin: 50% 100%;
    /*filter: hue-rotate(calc(var(--i)*60deg));*/
    /*box-shadow: 0 15px 50px rgba(0,0,0,1);*/
}
.container:hover .card{
    transform: rotate(calc(var(--i)*5deg))
               translate(calc(var(--i)*60px),-50px);
    box-shadow: 0 15px 50px rgb(250, 249, 249);
    color: rgba(0,0,0,25);
}
.container:active .card:not(:active){
    background-color: #333;
}
.container .card:active{
    translate: calc(var(--i)*20px)-50px;
    z-index: 999;
}
.container img{
    width: 240px;
    height: 360px;
    overflow: hidden;
}

.cube {
    position: relative;
    /* 3d */
    transform-style: preserve-3d;
    width: 300px;
    height: 300px;
    background-color: #eee;
    transform: rotateX(0deg);
    animation: rolling 10s linear infinite;
    margin-top: 100px;
}
@keyframes rolling {
    to{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.cube * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.front {
    transform: translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}
.left{
    transform: rotateY(90deg) translateZ(150px);
}
.right{
    transform: rotateY(-90deg) translateZ(150px);
}
.top{
    transform: rotateX(90deg) translateZ(150px);
}
.btm{
    transform: rotateX(-90deg) translateZ(150px);
}
.cube img{
    height: 300px;
    width: 300px;
    overflow: hidden;
}
.content1 {
    padding: 20px;
    height: 440px;
    /*position: relative; /* 定位容器 */
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #8ad8f7;
    border-radius: 10px;
}
.bb{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
}
.uu{
    width: 1000px;
    height: auto;
    background-color:#b7eaff ;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px 15px;
    border: none;
    background-color: #fdb267;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

.back-to-top:hover {
    background-color: #777;
}
.yy{
    font-size: 30px;
    margin-bottom: 15px;
    right: 5px;
}
